img{
    height: 500px;
    margin-top: 30px;
}

.nav{
    background: linear-gradient(45deg, navy, white);
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}

body{
    background: linear-gradient(90deg, teal, silver);
}

h1, h2, h3, h4, p, li{
    color: #ffaa80;
}

#bio{
    width: 400px;
}